body{
  background-color: rgb(228, 215, 37);
}

 li{
  
    height: 40x; 
   padding: 40px; 
} 
.thin-red-border {
  border-color: rgb(22, 179, 30);
  border-width: 10px;
  border-style: solid;
}
.links {
  /* margin-right: 20px; */
  margin: auto;
}
 h1{
color: green;

 } 
 span.name {
  padding: 10px;
  color: green;
  margin: 10px;
  border-color: rgb(0, 247, 255);
  border-width: 1px;
  border-style: solid;
 }

 span.city {
  padding: 10px;
  color: rgb(137, 221, 26);
  margin: 10px;
 }

 span.email {
  padding: 20px;
  color: green;
  margin: 10px;
 }